<div class="container-fluid">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" routerLink="/fail" routerLinkActive="active">Fail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/success" routerLinkActive="active">Success</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/forgot" routerLinkActive="active">Forgot</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>